<footer class="footer">
  <small>
    <span>Sample App built by <a href="http://andrewlchen.com" >Andrew Chen</a></span>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>